@font-face {
  font-family: "Agbalumo";
  src: url("assets/fonts/Agbalumo/Agbalumo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Molengo";
  src: url("assets/fonts/Molengo/Molengo-Regular.ttf") format("truetype");
}
